#tweets_overlay {
    display: none;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.349); /* Black background with opacity */
    z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
    overflow-y: scroll;
    overflow-x: hidden;
}
/* #tweetsArea {
    overflow: scroll;
    z-index: 102;
} */
#tweetsBox {
    /* overflow-y: scroll; */
    z-index: 101;
    min-width: 85vw;
}
#locationsDropdown {
    height: 35em;
    overflow-y: scroll;
}

.spinner {
    display: none;
}